@{
    Layout = null;
    var NickName = ViewData["NickName"] ?? "";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QQ第三方登录</title>
    <style type="text/css">
        .auth-linktitle {
            margin-bottom: 50px;
            width: 256px;
            margin: auto;
            line-height: 1em;
            font-size: 18px;
            font-weight: 600;
            color: #8da0aa;
            background: #fafcfe;
        }

        .auth-link {
            margin: 0 5px;
            text-indent: -99999em;
            background: url(/Content/image/icon-auth.6998d4.png) no-repeat;
            display: inline-block;
            width: 30px;
            height: 30px;
            opacity: .7;
            -ms-filter: alpha(opacity=70);
            transition: opacity .3s;
        }

        .qq {
            background-position: -40px -60px;
        }


        #QQeasy {
            position: absolute;
            left: 55%;
            top: -16%;
            width: 35rem;
            height: 25rem;
            margin-left: -20rem;
            overflow-y: scroll;
            overflow-x: hidden;
        }

        .lay_top {
            display: none;
        }

        iframe::-webkit-scrollbar {
            width: 0px;
            height: 0px;
        }

        #QQAuthorize {
            display: none;
            border: 2px solid #eee;
            position: absolute;
            left: 50%;
            top: 25%;
            width: 25rem;
            height: 20rem;
            margin-left: -20rem;
            overflow: hidden;
        }

        .nav {
            display: none;
        }
    </style>
    <script src="~/Scripts/jquery-1.8.3.min.js"></script>
    <script>
        $(function () {
            $(".auth-link").click(function () {
                 $("#QQAuthorize").show();
                var https ="@ViewData["AuthorizeUrl"]";
                $("#QQeasy").attr("src", https.replace(new RegExp("amp;", "g"), ""));
            })
        })

        function sonsay(Nickname,img) {
            var name = Nickname;
            $("#HeadPortrait").attr("src", img);
            $("#nickname").text(name);
            $(".nav").show();
            $("#QQAuthorize").hide();
            $("#QQLogin").hide();
        };
    </script>



</head>
<body>

    <div class="nav">
            欢迎您,<img id="HeadPortrait" src="" /> <span id="nickname"></span>
    </div>


    <div style="width: 700px;margin: auto;text-align: center;margin-top: 100px" id="QQLogin">
        <h2 class="auth-linktitle">可使用以下账号直接登录</h2><br />
        <a class="auth-link qq" target="_blank">QQ</a>
    </div>

    <div id="QQAuthorize" >
        <iframe id="QQeasy" src=""></iframe>
    </div>
</body>
</html>
